.head{
    background-color: rgb(45, 188, 236);
    color: white;
    height: 40px;
    padding: 25px;
}
.navbar{
    background-color: black;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    color:white;
    float:left;
    list-style:none;
    padding: 10px;
}
.box{
    height: 150px;
    width: 800px;
    border: 1px solid;
    border-color: black;
    background-color: aquamarine;
    margin: 30px;
}